.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #272643;
  color: #e3f6f5;
}
.custom-bg {
  background-color: #2c698d;
}